body{
    background-color:  #212622;
    color:#dadae3;
}
a,a:hover {
    color: #18c8bb;
}
table {
}
td {
}
thead{
    background: #09090987;
}
thead tr,thead td {
}
tr{
    border: solid 1px #a2aab0;
}
tr:nth-child(even) {
    background: #4d7d7d80;
}
tr:nth-child(odd) {
    background: #46515180;
}
h1{
}
code{
    border-color:#a2aab0;
}

