body{
    background-color:  #fffafa;
    color:#303035;
}
a,a:hover {
    color: #103c80;
}
table {
}
td {
}
thead{
    background: #eef1f7;
}
tr:nth-child(even) {
    background: #828da280;
}
tr:nth-child(odd) {
    background: #a2a2a280;
}
hr {
	border-bottom-color: #fff;
	border-top-color: #ecedf0;
	border-left-style: none;
	border-right-style: none;
}
code{
    border-color: #a2aab0;
}
