body{
    background-color:  #1e2526;
    color:#ebebf2;
}
a,a:hover {
	color: #51b5e6;
}
table {
}
td {
}
thead{
    background: #09090987;
}
thead tr,thead td {
}

tr{
    border-color: #a2aab0;
}
tr:nth-child(even) {
    background: #3c51795e;
}
tr:nth-child(odd) {
    background: #4e596480;
}
h1{
}
hr {
    border-bottom-color: #080a0d;
    border-top-color: #758899;
}
code{
    border-color: #a2aab0;
}
